#ifndef LC_CONFIG_H
#define LC_CONFIG_H

/**
 * WiFi の設定
 */

#define WIFI_SSID ""
#define WIFI_PASSWORD ""

/**
 * フロントエンドの URL
 */

#define FRONTEND_URL ""

/**
 * ファイルシステムの設定
 */

#define MAX_CONTENT_NUM 8

#endif